.spacer {
    height: 100%;
    width: 100%;
}


.hi-school {
    text-align: center;
    font-size: calc((60vw - 3rem) / 11);
    margin-top: 10vh;
}

.centered-body {
    background-image: url("https://lh3.googleusercontent.com/proxy/HwAbKhnWVu9u85RK9De1GFsIsCeFpHQGvYZUNTIbzTsoAlhKAboGKR8PRD4e2s0IklulDECT4D9FvoSFQ0Nk-TyKbr7_tc-zMNg_Vq0VdAbSvIFgWr2_Lip-JDB7H-Gczal4cA");
    background-repeat: no-repeat;
    background-size: 100%;
}

.search {
    text-align: center;
    margin-left: 25vw;
    width: 50vw;
}

.search-title {
    font-size: calc((60vw - 3rem) / 50);
}

.preference-search {
    margin-top: 10vw;
    text-align: center;
}

.help-button {
    text-decoration-color: black;
}
