
.horizontal-table {
    display: table;
    overflow: auto;
}

.school-description {
    float: left;
    overflow: no-display;
    text-align: start;

    position: relative;
    width: 70%;
    vertical-align: top;
}

.vertical-table {
    display: block;
}

.school-links {
    text-align: center;
    float: left;

    position: relative;
    width: 1%;
    margin-left: 1%;
    vertical-align: top;
}

.school-picture {
    float: right;
    height: auto;
    text-align: center;
    display: block;

    position: relative;
    margin-left: 5%;
}

.qa-link {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
}

.qa-link:hover {
    background-color: #555555;
}

.new-table {
    width: 100%;
}

.calendar {
    height: 200px;
    width: 300px;
}

.map {
    width: 300px;
    height: 200px;

}

table {
}

th, td {
    padding: 5px;
    text-align: left;
}
